---
layout: page
title: Projects
permalink: /projects/
---

<style>
.projects {
  display: flex;
  flex-diretion: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card {
  width: calc(50% - 10px);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  margin: 5px;
  /*
  background: #edf;
  padding: 15px;
  */
}

@media(max-width: 600px){
  .card {
    width: 100%;
  }
}

.card-header {
  /*
  background: url('/assets/drone.png') center / cover;
  */
  background: #AAA;
  height: 200px;
}
.card-title {
  font-size: 150%;
  padding: 10px 15px;
}
.card-content {
  padding: 10px 15px;
  font-size: 90%;
  color: gray;
  border-top: 0.5px solid rgba(0,0,0,0.3);
}
.card-footer {
  padding: 10px;
  font-size: 90%;
  border-top: 0.5px solid rgba(0,0,0,0.3);
}
</style>

<div class="projects container"> <!-- コンテナ -->
  {% for project in site.data.projects %}
  <div class="card">
    {% if project.image %}
    <div class="card-header" style="background: url('{{ project.image }}') center / cover;"></div>
    {% else %}
    <div class="card-header"></div>
    {% endif %}
    <div class="card-title">{{ project.title }}</div>
    <div class="card-content">
      <p>{{ project.description }}</p>
    </div>
    {% if project.links %}
    <div class="card-footer">
      {% for link in project.links %}
      <a href="{{ link.url }}">[ {{ link.title }} ]</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
