<div class="content mdl-grid" id="content">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--8-col-desktop">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome to Ryought::Lab</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>My name is Ryo Nakabayashi (中林 亮), in Tokyo, Japan.</p>
      <p>The University of Tokyo, M1</p>
      <p>For details, see <a href="/details">About Me</a>.</p>
      <p><a href="mailto:ryonakabayashi@gmail.com">Email</a> / <a href="https://www.facebook.com/ryo.nakabayashi">Facebook</a> / <a href="https://github.com/ryought">Github</a></p>
    </div>
  </div>
  <div class="profile-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--4-col-desktop">
    <div class="mdl-card__title">
    </div>
    <div class="mdl-card__supporting-text">
      ryought
    </div>
  </div>
</div>
